@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --sub--color: #767676;
  --main--color: #000000;
}

.mainbox {
  width: 350px;
  height: 140px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  position: relative;
}

.easyweniv {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 12px;
  font-weight: 400;
  margin: 19px 0 16px 16px;
}

.loginbutton {
  width: 318px;
  height: 40px;
  background-color: #711bff;
  border: none;
  display: block;
  border-radius: 4px;
  font-size: 12px;
  margin: 0 0 16px 16px;
}

.login_text {
  display: flex;
  align-items: end;
}
.login_text p {
  color: white;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 12px;
  line-height: 15.02px;
}

.loginlogo {
  width: 64px;
  height: 18px;
  margin: 11px 4px 0 108px;
}

.userinterface {
  width: 318px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}
.idpw {
  display: flex;
  align-content: center;
}

.idpwtext {
  display: flex;
  align-items: end;
  font-size: 12px;
  line-height: 15.02px;
}

.idpwtext li:first-child::after {
  content: "|";
  margin: 0 4px;
  color: var(--sub--color);
}

.join {
  display: flex;
  align-content: end;
}

.join {
  display: flex;
  font-size: 12px;
  line-height: 15.02px;
}

.usericon,
.lockicon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
