@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "HS-Regular";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "HS-Regular";
}
