.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* font-family: "Roboto", sans-serif; */
.mainbox {
  width: 1060px;
  height: 1170px;
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  margin: 165px auto;
  position: relative;
}
.jungletitle {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 41px;
  line-height: 28.13px;
}

.division-line {
  border-top: 2px solid #bdbdbd;
  margin: auto;
  width: 650px;
  height: 0px;
  margin: 32px 0 28px 205px;
}
.nav {
  width: 327px;
  height: 19px;
  margin: auto;
  margin-bottom: 28px;
}
.header {
  text-align: center;
}

.nav > ul {
  display: flex;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  color: #828282;
}

.menu {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.menu:hover {
  font-weight: 900;
  color: black;
}

.main {
  width: 1003px;
  height: 962px;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  left: 29px;
}

article {
  width: 220px;
  height: 441px;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 220px;
  padding-bottom: 441px;
  gap: 24px 23px;
  position: absolute;
  left: 27px;
  top: 26px;
}

.griditem01,
.griditem02,
.griditem03,
.griditem04,
.griditem05,
.griditem06,
.griditem07,
.griditem08 {
  position: relative;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

article img {
  position: absolute;
  left: 20px;
  top: 19px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

article h3 {
  position: absolute;
  top: 291px;
  left: 20px;
  font-weight: 900;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 23.17px;
}

article .list-info {
  position: absolute;
  left: 20px;
  top: 20px;
}

article .list-star {
  position: absolute;
  width: 80px;
  left: 117px;
  top: 325px;
}
.list-star dd::before {
  content: "";
  background-image: url(./images/STARIMAGES/별점이미지.png);
  width: 14px;
  height: 14px;
}

article .list-info {
  position: absolute;
  left: 20px;
  top: 325px;
}
article .list-date {
  position: absolute;
  left: 20px;
  top: 349px;
}
article .list-ch {
  position: absolute;
  left: 20px;
  top: 373px;
}
.list-info,
.list-date,
.list-ch,
.list-star {
  display: flex;
  align-items: center;
}

.list-info > dt,
.list-date > dt,
.list-ch > dt,
.list-star > dt {
  font-size: 13px;
  color: #828282;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  margin-right: 5px;
  line-height: 18.82px;
}

.list-info > dd,
.list-date > dd,
.list-ch > dd,
.list-star > dd {
  font-size: 13px;
  color: black;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  margin-right: 42px;
  line-height: 18.82px;
}

.list-star > dd {
  position: absolute;
  left: 47px;
}
.bottombt {
  position: absolute;
  display: flex;
  top: 400px;
}
.booking,
.notice {
  display: block;
  font-size: 14px;
  font-weight: 500px;
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
  text-decoration: none;
  width: 110px;
  height: 41px;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 40px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #bdbdbd;
}

.booking {
  border-radius: 0 0 0 10px;
  top: 405px;
}

.notice {
  border-radius: 0 0 10px 0;
  top: 405px;
}

.notice::before {
  content: "";
  background-image: url(./images/MOVIELIST/아이콘_재생.png);
  display: inline;
  width: 16px;
  height: 16px;
}

.list01 {
  display: grid;
}

.footer {
  width: 1920px;
  height: 213px;
  background-color: #f2f2f2;
  margin-top: 135px;
  position: relative;
}

.footer01 {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  left: 365px;
  top: 53px;
}

.sns {
  display: flex;
  width: 116px;
  position: absolute;
  justify-content: space-between;
  left: 1440px;
  top: 54px;
}

.footer01 h2 {
  position: absolute;
  left: 366px;
  top: 53px;
}

.icon {
  width: 24px;
  height: 24px;
}
address {
  width: 657px;
}
address > ul {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}

address > ul > li {
  margin: 0 4px;
  font-size: 14px;
  font-weight: 400;
}
.footer02 {
  width: 1920px;
  display: flex;
  left: 365px;
  top: 155px;
}

.footer02 address {
  position: absolute;
  left: 356px;
  top: 155px;
}

.footer02 > p {
  position: absolute;
  left: 1462px;
  top: 155px;
  font-weight: 700;
}

address > ul > li:not(:first-child)::before {
  content: "  |  ";
}

footer .division-line {
  position: absolute;
  width: 1189px;
  margin: 0px;
  top: 119px;
  left: 365px;
}

address span {
  font-weight: 700;
}
